<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="books-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Comics &amp; Graphic Novels
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="books-link">
                <a href="{% url 'products' %}?category=comic_books" class="dropdown-item">Comic Books</a>
                <a href="{% url 'products' %}?category=graphic_novels" class="dropdown-item">Graphic Novels</a>
                <a href="{% url 'products' %}?category=comic_books,graphic_novels" class="dropdown-item">All Items</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="collectibles-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collectibles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="collectibles-link">
                <a href="{% url 'products' %}?category=signed_collectibles" class="dropdown-item">Signed Collectibles</a>
                <a href="{% url 'products' %}?category=vintage_collectibles" class="dropdown-item">Vintage Collectibles</a>
                <a href="{% url 'products' %}?category=signed_collectibles,vintage_collectibles" class="dropdown-item">All Collectibles</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cards-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Trading Cards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cards-link">
                <a href="{% url 'products' %}?category=signed_cards" class="dropdown-item">Signed Cards</a>
                <a href="{% url 'products' %}?category=vintage_cards" class="dropdown-item">Vintage Cards</a>
                <a href="{% url 'products' %}?category=new_cards" class="dropdown-item">New Cards</a>
                <a href="{% url 'products' %}?category=signed_cards,vintage_cards,new_cards" class="dropdown-item">All Cards</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
            </div>
        </li>
    </ul>
</div>